"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "styri-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 17
    preferredLineLength: 100
    scrollSensitivity: 100
  "exception-reporting":
    userId: "e7729c1a-cfcd-4cd5-a265-85ea714ff918"
  "language-dotenv":
    dotenvFileNames: [
      ".env"
      ".env.example"
    ]
  "linter-ui-default":
    panelHeight: 159
    showPanel: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
    prettierEslintOptions: {}
    prettierOptions: {}
    useEditorConfig: false
    useEslint: true
  welcome:
    showOnStartup: false
