packages: [
  "atom-material-syntax"
  "autocomplete-modules"
  "busy-signal"
  "chester-atom-syntax"
  "city-lights-syntax"
  "city-lights-ui"
  "emmet"
  "file-icons"
  "improved-chester-atom-syntax"
  "intentions"
  "language-babel"
  "language-dotenv"
  "language-elixir"
  "language-graphql"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "minimap"
  "package-sync"
  "prettier-atom"
  "Zen"
]
