# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
'.source.js':
  'Stateless Component':
    'prefix': 'c'
    'body': 'export default () => ($1)'
'.text.html.elixir':
  'eex_render_block':
    'prefix': '='
    'body': '<%= $1 %>'
  'eex_exec_block':
    'prefix': '-'
    'body': '<% $1 %>'
  'eex_comment_block':
    'prefix': '#'
    'body': '<%# $1 %>'
  'eex_for':
    'prefix': 'for'
    'body': """
      <%= for ${1:model} <- @${1:model}s do %>
        $2
      <% end %>
    """
  'eex_error_tag':
    'prefix': 'et'
    'body': '<%= error_tag ${1:f}, :${1:field} %>'
  'eex_text_input':
    'prefix': 'ti'
    'body': '<%= text_input ${1:f}, :${1:field} %>'
  'eex_password_input':
    'prefix': 'pi'
    'body': '<%= password_input ${1:f}, :${1:field} %>'
  'eex_link':
    'prefix': 'lt'
    'body': """
      <%= link "${1:text}", to: ${2:url} %>
    """
  'eex_if':
    'prefix': 'if'
    'body': """
      <%= if $1 do %>
        $2
      <% end %>
    """
  'eex_if_else':
    'prefix': 'ife'
    'body': """
      <%= if $1 do %>
        $2
      <% else %>
        $3
      <% end %>
    """
  'eex_else':
    'prefix': 'else'
    'body': "<% else %>"
  'eex_unless':
    'prefix': 'unless'
    'body': """
      <%= unless $1 do %>
        $2
      <% end %>
    """
  'eex_cond':
    'prefix': 'cond'
    'body': """
      <%= cond do %>
        <% $1 -> %>
          $2
        <% true -> %>
          $3
      <% end %>
    """
  'eex_form_for':
    'prefix': 'ff'
    'body': """
      <%= form_for @${1:changeset}, ${2:url}, ${3:[]}, fn f -> %>
        $4
      <% end %>
    """
  'eex_render':
    'prefix': 'render'
    'body': """
      <%= render "${1:partial}.html", ${2:local_var: @local} %>
    """
